<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The Class Based views</h1>
    <h2> this is the home page where all the functions of the url will be shown</h2>
    <div class="contextDataPassed">
        <h3>
            {{title}}
        </h3>
    </div>
    <div class="redirect_samples">
        <div>
            <a href="{% url 'redirect_user' %}">Clinton John</a>
        </div>
    </div>

    <div class="user_movies">
        <h1>Movies section</h1>
        {% for movie in movies %}
        <h2>{{movie.title}}</h2>
        <img src="{{movie.movie_cover.url}}" alt="" style="max-width:200px; max-height:200px;"> {{movie.poster}} {{movie.cover}} {% endfor %}
    </div>
</body>

</html>